:host {
  .card {
    background: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 2rem;

    .secundario-form {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 50px;

      .secundario-field {
        display: flex;
        flex-direction: column;
        width: 70%;

        label {
          font-weight: 500;
          color: #495057;
        }
      }
    }

    .actions {
      display: flex;
      justify-content: flex-end;
      gap: 16px;
      margin-top: 24px;

      .secundario-button {
        height: 45px;
      }
    }
  }
}
