<section class="card">
  <div *ngIf="form" [formGroup]="form" class="secundario-form">
    <div class="secundario-field" *ngIf="temCodigo">
      <label>Código</label>
      <input
        formControlName="codigo"
        type="text"
        maxlength="20"
        pInputText
        [ngClass]="
          form.controls['codigo'].hasError('required') &&
          form.controls['codigo'].touched
            ? 'ng-invalid ng-dirty'
            : ''
        "
      />
      <small
        *ngIf="
          form.controls['codigo'].hasError('required') &&
          form.controls['codigo'].touched
        "
        id="username2-help"
        class="form-invalid"
        >Campo obrigatório.</small
      >
    </div>

    <div class="secundario-field">
      <label>Nome</label>
      <input
        formControlName="nome"
        type="text"
        maxlength="20"
        pInputText
        [ngClass]="
          form.controls['nome'].hasError('required') &&
          form.controls['nome'].touched
            ? 'ng-invalid ng-dirty'
            : ''
        "
      />
      <small
        *ngIf="
          form.controls['nome'].hasError('required') &&
          form.controls['nome'].touched
        "
        id="username2-help"
        class="form-invalid"
        >Campo obrigatório.</small
      >
    </div>
  </div>

  <div class="actions">
    <button
      pButton
      type="button"
      label="Voltar"
      class="p-button-secondary"
      (click)="handleBack()"
    ></button>
    <button
      pButton
      type="button"
      icon="pi pi-save"
      label="Salvar"
      class="p-button-success p-mr-2"
      (click)="onSubmit()"
    ></button>
  </div>
</section>
