<section class="cards-list">
  <app-cards
    [title]="lancamentos.length"
    color="#7e57c2"
    description="Total Lançamentos"
    fxFlex
    icon="pi pi-folder-open"
  ></app-cards>

  <app-cards
    [title]="6"
    color="#2fc0c1"
    description="Total Processados"
    fxFlex
    icon="pi pi-chart-line"
  ></app-cards>

  <app-cards
    [title]="128685.34 | currency : 'BRL'"
    color="#5BB26E"
    description="Valor Total"
    fxFlex
    icon="pi pi-dollar"
  ></app-cards>
</section>

<app-lancamento-table
  [lancamentos]="lancamentos"
  (deletarLancamento)="handleDeleteLancamento($event)"
  (editarLancamento)="handleEditLancamento($event)"
></app-lancamento-table>
