:host {
  padding: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 32px;

  .cards-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    align-items: center;
  }
}
