:root {
  --darkBlue: #214749;
  --darkGray: #757575;
  --green-100: #caf1d8;
  --lightGray: #f2f3f0;
  --mainBege: #fef8f3;
  --mainBlack: #000000;
  --mainBlue: #1387ac;
  --mainGray: #a6a09b;
  --mainGreen: #4abe9a;
  --mainPink: #fad3e7;
  --mainPurple: #6153be;
  --mainRed: #eb4c6a;
  --mainWhite: #ffffff;
  --mainYellow: #f5bb58;
  --secondBlack: #495057;
  --secondGreen: #46ea7d;
  --secondWhite: #f8f9f5;
  --secondYellow: #feddc7;
}
