:host {
  .card {
    background: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 2rem;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;

      .title {
        font-size: 1.5rem;
        color: #6153be;
        margin-bottom: 1rem;
      }
    }

    .badge {
      font-size: 500;
      border-radius: 50px;
      padding: 5px 20px;

      &.badge-success {
        background: #c8e6c9;
        color: #256029;
      }

      &.badge-danger {
        background: #ffcdd2;
        color: #c63737;
      }
    }
  }
}