:host {
  padding: 1.5rem 6rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;

  .main-header {
    display: flex;
    gap: 14px;
    align-items: center;
    color: #6153be;
    margin-bottom: 1rem;

    .main-title {
      font-size: 1.5rem;
    }
  }

  .card {
    background: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 2rem;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;

      .title {
        font-size: 1.2rem;
        font-weight: 500;
        margin-bottom: 1rem;
      }
    }

    .secundario-form {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 50px;

      .secundario-field {
        width: 70%;

        label {
          font-weight: 500;
          color: #495057;
        }
      }

      .secundario-button {
        height: 45px;
      }
    }
  }
}
