<div class="home-container">
  <figure>
    <img src="../../../assets/Left Hand.svg" alt="Left Hand" />
  </figure>

  <section class="info-content">
    <h1 class="title">
      Conserte seu <span style="color: #6153be">orçamento</span> com mais
      <span style="color: #4abe9a">dinheiro</span>
    </h1>

    <p class="body">
      Simplificando sua vida financeira!  Registre seus lançamentos, gerencie seu
      orçamento online sem burocracia e esqueça as planilhas de uma vez por
      todas.
    </p>

    <button (click)="onSubmit()" type="button" class="button">Iniciar</button>
  </section>

  <figure>
    <img src="../../../../assets/Right Hands.svg" alt="Right Handsh" />
  </figure>
</div>
