<div class="home-container">
  <figure>
    <img src="../../../assets/Left Hand.svg" alt="Left Hand" />
  </figure>

  <section class="info-content">
    <h1 class="title">
      Conserte seu <span style="color: #6153be">orçamento</span> com mais
      <span style="color: #4abe9a">dinheiro</span>
    </h1>

    <p class="body">
      Chega de burocracia! Cadastre seu lançamento e acompanhe seu orçamento de
      forma online e sem precisar mexer mais em planilhas.
    </p>

    <button (click)="onSubmit()" type="button" class="button">
      Cadastrar
    </button>
  </section>

  <figure>
    <img src="../../../../assets/Right Hands.svg" alt="Right Handsh" />
  </figure>
</div>
