<section class="form-container">
  <div *ngIf="form" [formGroup]="form" class="lancamento-grid">
    <div class="lancamento-field">
      <label>Ano Orçamento</label>
      <p-inputNumber
        inputId="integeronly"
        [min]="0"
        [max]="maxYear"
        [useGrouping]="false"
        formControlName="anoOrcamento"
        [ngClass]="
          form.controls['anoOrcamento'].hasError('required') &&
          form.controls['anoOrcamento'].touched
            ? 'ng-invalid ng-dirty'
            : ''
        "
      >
      </p-inputNumber>

      <small
        *ngIf="
          form.controls['anoOrcamento'].hasError('required') &&
          form.controls['anoOrcamento'].touched
        "
        class="form-invalid"
        >Campo obrigatório.</small
      >
    </div>

    <div class="lancamento-field">
      <label>Contratado</label>
      <input
        type="text"
        formControlName="contratado"
        maxlength="255"
        pInputText
        [ngClass]="
          form.controls['contratado'].hasError('required') &&
          form.controls['contratado'].touched
            ? 'ng-invalid ng-dirty'
            : ''
        "
      />

      <small
        *ngIf="
          form.controls['contratado'].hasError('required') &&
          form.controls['contratado'].touched
        "
        class="form-invalid"
        >Campo obrigatório.</small
      >
    </div>

    <div class="lancamento-field">
      <label>Data Lançamento</label>
      <p-calendar
        [required]="true"
        formControlName="dataLancamento"
        dateFormat="dd/mm/yy"
        [maxDate]="maxDateValue"
        [showIcon]="false"
        [ngClass]="
          form.controls['dataLancamento'].hasError('required') &&
          form.controls['dataLancamento'].touched
            ? 'ng-invalid ng-dirty'
            : ''
        "
      ></p-calendar>

      <small
        *ngIf="
          form.controls['dataLancamento'].hasError('required') &&
          form.controls['dataLancamento'].touched
        "
        class="form-invalid"
        >Campo obrigatório.</small
      >
    </div>

    <div class="lancamento-field">
      <label>Descrição</label>
      <input
        type="text"
        formControlName="descricao"
        maxlength="255"
        pInputText
        [ngClass]="
          form.controls['descricao'].hasError('required') &&
          form.controls['descricao'].touched
            ? 'ng-invalid ng-dirty'
            : ''
        "
      />

      <small
        *ngIf="
          form.controls['descricao'].hasError('required') &&
          form.controls['descricao'].touched
        "
        class="form-invalid"
        >Campo obrigatório.</small
      >
    </div>

    <div class="lancamento-field">
      <label>GED</label>

      <p-inputMask
        formControlName="ged"
        mask="99.99.9999.9999999/9999-99"
        [maxlength]="26"
        [ngClass]="
          form.controls['ged'].hasError('required') &&
          form.controls['ged'].touched
            ? 'ng-invalid ng-dirty'
            : ''
        "
      ></p-inputMask>

      <small
        *ngIf="
          form.controls['ged'].hasError('required') &&
          form.controls['ged'].touched
        "
        class="form-invalid"
        >Campo obrigatório.</small
      >
    </div>

    <div class="lancamento-field">
      <label>Ação</label>
      <p-dropdown
        formControlName="idAcao"
        [options]="selectionOptionsAcao"
        optionLabel="nome"
        optionValue="id"
      ></p-dropdown>
    </div>

    <div class="lancamento-field">
      <label>Elemento Despesa</label>
      <p-dropdown
        formControlName="idElementoDespesa"
        [options]="selectionOptionsElementoDespesa"
        optionLabel="nome"
        optionValue="id"
      ></p-dropdown>
    </div>

    <div class="lancamento-field">
      <label>Fonte Recurso</label>
      <p-dropdown
        formControlName="idFonteRecurso"
        [options]="selectionOptionsFonteRecurso"
        optionLabel="nome"
        optionValue="id"
      ></p-dropdown>
    </div>

    <div class="lancamento-field">
      <label>Grupo Despesa</label>
      <p-dropdown
        formControlName="idGrupoDespesa"
        [options]="selectionOptionsGrupoDespesa"
        optionLabel="nome"
        optionValue="id"
      ></p-dropdown>
    </div>

    <div class="lancamento-field">
      <label>Lançamento Pai</label>
      <p-dropdown
        formControlName="idLancamentoPai"
        [options]="selectionOptionsLancamentoPai"
        optionLabel="contratado"
        optionValue="id"
      ></p-dropdown>
    </div>

    <div class="lancamento-field">
      <label>Modalidade Aplicação</label>
      <p-dropdown
        formControlName="idModalidadeAplicacao"
        [options]="selectionOptionsModalidadeAplicacao"
        optionLabel="nome"
        optionValue="id"
      ></p-dropdown>
    </div>

    <div class="lancamento-field">
      <label>Objetivo Estratégico</label>
      <p-dropdown
        formControlName="idObjetivoEstrategico"
        [options]="selectionOptionsObjetivoEstrategico"
        optionLabel="nome"
        optionValue="id"
      ></p-dropdown>
    </div>

    <div class="lancamento-field">
      <label>Programa</label>
      <p-dropdown
        formControlName="idPrograma"
        [options]="selectionOptionsPrograma"
        optionLabel="nome"
        optionValue="id"
      ></p-dropdown>
    </div>

    <div class="lancamento-field">
      <label>Solicitante</label>
      <p-dropdown
        formControlName="idSolicitante"
        [options]="selectionOptionsSolicitante"
        optionLabel="nome"
        optionValue="id"
      ></p-dropdown>
    </div>

    <div class="lancamento-field">
      <label>Tipo Lançamento</label>
      <p-dropdown
        formControlName="idTipoLancamento"
        [options]="selectionOptionsTipoLancamento"
        optionLabel="nome"
        optionValue="id"
      ></p-dropdown>
    </div>

    <div class="lancamento-field">
      <label>Tipo Transação</label>
      <p-dropdown
        formControlName="idTipoTransacao"
        [options]="selectionOptionsTipoTransacao"
        optionLabel="nome"
        optionValue="id"
      ></p-dropdown>
    </div>

    <div class="lancamento-field">
      <label>Unidade</label>
      <p-dropdown
        formControlName="idUnidade"
        [options]="selectionOptionsUnidade"
        optionLabel="nome"
        optionValue="id"
      ></p-dropdown>
    </div>

    <div class="lancamento-field">
      <label>Unidade Orçamentária</label>
      <p-dropdown
        formControlName="idUnidadeOrcamentaria"
        [options]="selectionOptionsUnidadeOrcamentaria"
        optionLabel="nome"
        optionValue="id"
      ></p-dropdown>
    </div>

    <div class="lancamento-field">
      <label>Lançamento inválido</label>
      <p-dropdown
        formControlName="lancamentoInvalido"
        [options]="selectionOptionsLancamentoInvalido"
        optionLabel="label"
        optionValue="value"
      ></p-dropdown>
    </div>

    <div class="lancamento-field">
      <label>Número Lançamento</label>
      <input
        formControlName="numeroLancamento"
        type="text"
        maxlength="20"
        pInputText
        [ngClass]="
          form.controls['numeroLancamento'].hasError('required') &&
          form.controls['numeroLancamento'].touched
            ? 'ng-invalid ng-dirty'
            : ''
        "
      />
      <small
        *ngIf="
          form.controls['numeroLancamento'].hasError('required') &&
          form.controls['numeroLancamento'].touched
        "
        class="form-invalid"
        >Campo obrigatório.</small
      >
    </div>

    <div class="lancamento-field">
      <label>Valor</label>
      <p-inputNumber
        formControlName="valor"
        mode="currency"
        currency="BRL"
        locale="pt-BR"
        [ngClass]="
          form.controls['valor'].hasError('required') &&
          form.controls['valor'].touched
            ? 'ng-invalid ng-dirty'
            : ''
        "
      ></p-inputNumber>

      <small
        *ngIf="
          form.controls['valor'].hasError('required') &&
          form.controls['valor'].touched
        "
        class="form-invalid"
        >Campo obrigatório.</small
      >
    </div>
  </div>

  <div class="lancamento-actions">
    <button
      pButton
      type="button"
      label="Voltar"
      class="p-button-secondary"
      (click)="handleBack()"
    ></button>

    <button
      pButton
      type="button"
      icon="pi pi-save"
      label="Salvar"
      class="p-button-success p-mr-2"
      (click)="onSubmit()"
    ></button>
  </div>
</section>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
